{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('send_joke_result') %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.category) }}
        <button type="submit" class="btn btn-primary">Send joke</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
